<?xml version="1.0" encoding="UTF-8"?>

<Configuration>

     <Appenders>
       <Console name="console" target="SYSTEM_OUT">
         <PatternLayout pattern="%d{dd-MM-yy HH:mm:ss} [%-5level] %c{3} - %msg%ex{short}%n" />
       </Console>
    </Appenders>
    
    <Loggers>
        <Root level="all">
			<AppenderRef ref="console" level="all"/>
        </Root>
    </Loggers>
    
</Configuration>