<?xml version="1.0" encoding="UTF-8"?>

<Configuration>

	<Properties>
		<Property name="basePath">C:/logs/</Property>
		<Property name="fileName">Martin</Property>
	</Properties>

	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{dd-MM-yy HH:mm:ss} [%-5level] %c{33} - %msg%ex{short}%n" />
		</Console>
		<File name="MyFile" fileName="C:/logs/Martin.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} [%-5level] %c{23} - %msg%n" />
        </File>
	</Appenders>

	<Loggers>
		<Logger name="uk.gov.dvla.osg" level="all">
			<AppenderRef ref="MyFile" level="all" />
		</Logger>
		<Root level="all">
			<AppenderRef ref="console" level="all" />
		</Root>
	</Loggers>
    
</Configuration>